/**********************Root(Default Settings)***********************/

:root {
  --primary-color: #e50914;
  --dark-color: #141414;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #000;
  color: #999999;
}

/*WebKit implements a similar property, but with different values: -webkit-font-smoothing. It only works on Mac OS X/macOS.

auto - Let the browser decide (Uses subpixel anti-aliasing when available; this is the default)
none - Turn font smoothing off; display text with jagged sharp edges.
antialiased - Smooth the font on the level of the pixel, as opposed to the subpixel. Switching from subpixel rendering to antialiasing for light text on dark backgrounds makes it look lighter.
subpixel-antialiased - On most non-retina displays, this will give the sharpest text.*/

ul {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  color: floralwhite;
}

a {
  color: ghostwhite;
  text-decoration: none;
}

p {
  margin: 0.5rem 0; /*1rem = 16px (default)*/
  color: aliceblue;
}

img {
  width: 100%;
}

/**********************Showcase***********************/

.showcase {
  width: 100%;
  height: 93vh; /*vh - viewport height*/
  position: relative;
  background: url("../images/background.jpg") no-repeat center center/cover; /*center - x axis, center - y axis, cover - cover the whole area*/
}

.showcase::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /*higher the z-index, closer it is to you*/
  background: rgba(0, 0, 0, 0.6);
  box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;
  /*to add shadow around the box*/
}

.showcase-top {
  position: relative;
  height: 90px;
  z-index: 2;
}

.showcase-top img {
  width: 170px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(
    -50%,
    -50%
  ); /*CSS transforms allow you to move, rotate, scale, and skew elements.
The translate() method moves an element from its current position (according to the parameters given for the X-axis and the Y-axis).
https://www.w3schools.com/css/css3_2dtransforms.asp
  */
}

.showcase-top a {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}

.showcase-content {
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 9rem;
  z-index: 2;
}

.showcase-content h1 {
  font-weight: 100; /*font-weight: 400 is supposed to be equal to normal , while 700 is equal to bold .*/
  font-size: 5.2rem;
  line-height: 1.1; /*1.1 em*/
  margin: 0 0 2rem;
}

.showcase-content p {
  text-transform: uppercase;
  color: seashell;
  font-weight: 400;
  font-size: 1.9rem;
  line-height: 1.25;
  margin: 0 0 2rem;
}

.showcase-content .test-sign-in {
  text-transform: capitalize;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 20px;
}

.showcase-content .sign-in-link:hover{
  text-decoration: underline;
  cursor: pointer;
}

/**********************Tabs***********************/

.tabs {
  background: var(--dark-color);
  padding-top: 3rem;
  border-bottom: 3px solid #3d3d3d;
}

.tabs .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /*or repeat(3, 1fr) fr - fraction*/
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.tabs p {
  font-size: 1.2rem;
  padding-top: 0.5rem;
}

.tabs .container > div {
  padding: 1.5rem 0;
}

.tabs .container > div:hover {
  color: azure;
  cursor: pointer;
}

.tab-border {
  border-bottom: var(--primary-color) 4px solid;
}

.tab-content {
  padding: 3rem 0;
  background: #000;
  color: snow;
}

/**********************Hide Content Initially***********************/

#tab-1-content,
#tab-2-content,
#tab-3-content {
  display: none;
}

.show {
  display: block !important;
}

/**********************Tab-1-content***********************/

#tab-1-content .tab-1-content-inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  align-items: center;
  justify-content: center;
}

/**********************Tab-2-content***********************/

#tab-2-content .tab-2-content-top {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 2rem;
  justify-content: center;
  align-items: center;
}

#tab-2-content .tab-2-content-bottom {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/**********************Tab-3-content***********************/

#tab-3-content .tab-content-test {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
}

/**********************Tables***********************/

.table {
  width: 100%;
  margin-top: 2rem;
  border-collapse: collapse; /*removes table borders*/
  border-spacing: 0;
}

.table thead th {
  text-transform: uppercase;
  padding: 0.8rem;
}

.table tbody tr td {
  color: #999999;
  padding: 0.8rem 1.2rem;
  text-align: center;
}

.table tbody tr td:first-child {
  /*selects first child element*/
  text-align: left;
}

.table tbody tr:nth-child(odd) {
  background: #222222;
}

/**********************Text Styles***********************/

.text-xl {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.text-lg {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.text-md {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.text-dark {
  color: var(--dark-color);
}

.text-dark-1 {
  color: #3d3d3d;
}

/**********************Footer ***********************/

.footer {
  max-width: 75%;
  margin: 1rem auto;
  overflow: auto;
}

.footer,
.footer a {
  color: #999999;
  font-size: 0.9rem;
}

.footer p {
  margin-bottom: 1.5rem;
}

.footer .footer-cols {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

.footer li {
  line-height: 1.9;
}

.footer a:hover {
  cursor: pointer;
  text-decoration: underline;
}

/**********************Container***********************/

.container {
  max-width: 70%;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

/**********************Buttons***********************/

.btn {
  display: inline-block;
  background: var(--primary-color);
  color: ivory;
  padding: 0.4rem 1.3rem; /*top-bottom, left-right*/
  font-size: 1rem;
  border: none;
  text-align: center;
  cursor: pointer;
  margin-right: 0.5rem;
  outline: none;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
  border-radius: 2px;
}

.btn:hover {
  opacity: 0.9;
}

.btn-rounded {
  border-radius: 5px;
}

.btn-xl {
  font-size: 2rem;
  padding: 1.5rem 2.1rem;
  text-transform: uppercase;
}

.btn-lg {
  font-size: 1rem;
  padding: 0.8rem 1.3rem;
  text-transform: uppercase;
}

.btn-icon {
  margin-left: 1rem;
}

/**********************Media Query***********************/
@media (max-width: 960px) {
  .showcase {
    height: 70vh;
  }

  .hide-sm {
    display: none;
  }

  .showcase-top img {
    top: 30%;
    left: 5%;
    transform: translate(0);
  }

  .showcase-content h1 {
    font-size: 3.7rem;
    line-height: 1;
  }

  .showcase-content p {
    font-size: 1.5rem;
  }

  .footer .footer-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .btn-xl {
    font-size: 1.5rem;
    padding: 1.4rem 2rem;
    text-transform: uppercase;
  }

  .text-xl {
    font-size: 1.5rem;
  }

  .text-lg {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }

  .text-md {
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }
}

@media (max-width: 700px) {
  .showcase::after {
    background: rgba(0, 0, 0, 0.6);
    box-shadow: inset 80px 80px 150px #000000, inset -80px -80px 150px #000000;
  }

  .showcase-content h1 {
    font-size: 2.5rem;
    line-height: 1;
  }

  .showcase-content p {
    font-size: 1rem;
  }

  #tab-1-content .tab-1-content-inner {
    grid-template-columns: 1fr;
    text-align: center;
  }

  #tab-2-content .tab-2-content-top {
    display: block;
    text-align: center;
  }

  #tab-2-content .tab-2-content-bottom {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    text-align: center;
  }

  /* #tab-3-content .tab-content-test {
    display: block;
    text-align: center;
  } */

  #tab-3-content .tab-content-test {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    text-align: center;
  }

  .btn-xl {
    font-size: 1rem;
    padding: 1.2rem 1.6rem;
    text-transform: uppercase;
  }
}

@media (max-height: 600px) {
  .showcase-content {
    margin-top: 3rem;
  }
}

/* CSS Complete */
